.socials {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-self: flex-end;
  gap: 20px 32px;
  margin: 0;
  padding: 0;
  list-style: none;

  

  @include vp-1023{
    flex-wrap: nowrap;
    column-gap: 20px;
    width: 100%;
    
  }

  @include vp-767{
    margin: 0 auto;
    column-gap: 30px;
  }

  &--error-blocks{
    
    @include vp-1023{
      
  }

  &__link {
    display: flex;
    color: $color-trout;
  }

  
}
